@import './mixin.scss';

.basic-list{
  padding-bottom: 30px;
  box-sizing: border-box;
  .list-title-area{
    padding: 50px 0 30px 50px;
    @include flex-start-center;
    .list-title{
      @include title04;
      margin-right: 50px;
    }
    .tab-menu-area{
      @include space-between-center;
      border: 1px solid #fff;
      border-radius:20px;
      box-sizing:border-box;
      .tab-menu{
        padding: 6px 15px;
        border-radius:20px;
        transition: .2s;
        &.active{
          background: #fff;
          color: #000;
          box-sizing:border-box;
          border: 1px solid #fff;
        }
      }
    }
  }
  .swiper{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .swiper-wrapper{
    padding-bottom: 30px !important;
  }
  .swiper-scrollbar{
    background: #ffffff33 !important;
    // background: rgb(255 255 255 / 20%) !important;
  }
}