@import './mixin.scss';

.basic-list, .video-list{
  box-sizing: border-box;
  .list-title-area{
    padding: 30px 0 10px 50px;
   @include flex-box(row, center, start);;
    .list-title{
      @include title04;
      margin-right: 50px;
    }
    .tab-menu-area{
     @include flex-box(row, center, space-between);;
      border: 1px solid #fff;
      border-radius:20px;
      box-sizing:border-box;
      .tab-menu{
        padding: 6px 15px;
        border-radius:20px;
        transition: .2s;
        &.active{
          background: #fff;
          color: #000;
          box-sizing:border-box;
          border: 1px solid #fff;
        }
      }
    }
  }
  .swiper{
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .swiper-wrapper{
    padding: 20px 0 30px !important;
  }
  .swiper-scrollbar{
    background: #ffffff33 !important;
    // background: rgb(255 255 255 / 20%) !important;
  }
}
.video-list{
  background: #343434;
  margin: 30px 0;
  padding: 20px 0 30px;
}