@import './mixin.scss';

.nav-area{
  // background: #0000004d;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  padding: 22px 50px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  .menu-warp{
    @include space-between-center;
  }
  .menu-area{
    .logo{
      font-size: 22px;
      font-weight: bold;
    }
    a{
      margin-right: 15px;
      font-size: 16px;
    }
  }
  .user-area{
    .icon{
      padding: 0 12px;
    }
  }
  &.active-search-modal{
    background: #000000cc;
  }
}