// mobile font style
@mixin title01 {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

@mixin title02 {
  font-weight: 500;
  font-size: 44px;
  line-height: 48px;
}

@mixin title03 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

@mixin title04 {
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

@mixin title05 {
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
}

@mixin subTitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

@mixin body01 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

@mixin body02 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@mixin body03 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@mixin body04 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin button {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

// text 길때 줄임
// text 한줄 줄임
@mixin text-ellipsis {
  vertical-align: middle;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

// text 두줄로 줄임
@mixin text-wrap-ellipsis ($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: $line; /* ellipsis line */
  -webkit-box-orient: vertical;
  /* webkit 엔진을 사용하지 않는 브라우저를 위한 속성. */
  /* height = line-height * line = 1.2em * 3 = 3.6em  */
  // white-space: normal;
  line-height: 1.2em;
  height: auto;
}

// flex
@mixin flex-box ($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
@mixin flex-box-wrap ($direction, $align, $justify) {
    display: flex;
    flex-wrap:wrap;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

// position
@mixin position-center ($position) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// button style
// button font style component에서 button 태그에 include
@mixin mainBtnStyle {
  border-radius: 4px;
  background: #ff7500;
  padding: 12px 16px;
  color: #fff;
  box-sizing: border-box;
}

@mixin mainOutlineBtnStyle {
  border-radius: 4px;
  border: 1px solid #ff7500;
  padding: 11px 16px;
  color: #ff7500;
  box-sizing: border-box;
}

@mixin mainBtnStyleDisabled {
  border-radius: 4px;
  background: #ededed;
  padding: 12px 16px;
  color: #ccc;
  box-sizing: border-box;
}

@mixin mainOutlineBtnStyleDisabled {
  border-radius: 4px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 11px 16px;
  color: #ccc;
  box-sizing: border-box;
}

@mixin btnDisabled {
  border-radius: 4px;
  background: #ededed;
  padding: 6px 16px;
  color: #ccc;
  box-sizing: border-box;
  border: none;
}
